/* this is for the mobile */ 
body {font-family: 'Urbanist', sans-serif;}
@media (min-width: 375px) {h1,h2 {font-size: 20px;}} 
@media (min-width: 375px) {body {font-size: 14px;}} 
@media (min-width: 375px) {body {background-color:#3D3B8E;}} 
@media (min-width: 375px) {body {color:#FFF;}} 

/* this is for the Tablet,Laptop,Desktop */
body {font-family: 'Urbanist', sans-serif;}
@media (min-width: 1024px) {h1,h2 {font-size: 50px;}} 
@media (min-width: 1024px) {body {font-size: 26px;}} 
@media (min-width: 1024px) {body {background-color:#B0E298;}} 
@media (min-width: 1024px) {body {color:#000 ;}} 


.container {
    display: grid;
    grid-template-columns: auto 500px;
grid-template-rows: auto auto;
gap:20px;
}

.container img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}